<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testSize.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8460545A1E8EF55B00524A9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8460546E1E8EF55B00524A9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>846054791E8EF55C00524A9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
